.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.part{
    width: 500px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.part1{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.IP{
    padding-left: 5px;
    height: 30px;
    width: 250px;
}
.IP:focus{
    outline: none;
}
.lbl{
    color: white;
    margin: 5px;
    font-size: 17px;
}
.BTN{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.two{
    border: 1px solid rgb(98, 21, 153);
    outline: 1px solid rgb(98, 21, 153);
    background: rgb(98, 21, 153);
}
.one{
    border: 1px solid purple;
    outline: 1px solid purple;
    background: purple;
}