:root::-webkit-scrollbar{display: none;}
/* ::-webkit-calendar-picker-indicator {
    filter: invert(1);
} */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

